<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in form %}
        <div class="mb-3">
            <label for="" class="form-label">{{campo.label}}</label>
            <input
                type="{{ campo.field.widget.input_type }}"
                class="form-control"
                name="{{campo.name}}"
                id=""
                aria-describedby="helpId"
                placeholder="Ingrese el {{campo.name}} del libro"
            />
        </div>
        <div class ="col-12"> {{campo.errors}} </div>
    {% endfor %} 
        <input type="submit" value="Guardar" class="btn btn-success item-center float-start"/>
        <a
            name=""
            id=""
            class="btn btn-info item-center float-end"
            href="{% url 'libros' %}"
            role="button">Regresar</a>   
</form>