{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3"
            >
                <h2>Bienvenido al sitio de la libreria</h2>
                <p>
                    Somos una empresa que se encarga de almacenar la informacion de algunos libros, con el fin de que los usuarios puedan consultar la informacion de los mismos y asi decidir si comprarlo.
                </p>
                <button
                    class="btn btn-outline-light"
                    type="button"
                >
                    Boton de ejemplo
                </button>
            </div>
        </div>

    </div>
    

{% endblock %}